.carta_txt {
	background-color: rgba(20, 20, 20, 0.9);
	border: 2px ridge green;
	position: absolute;
    margin: -100px 0 0 -370px;
    top: 17%;
    left: 40%;
    color: white;
    width: 60%;
    margin-bottom: 90px;
}

h1 {
	font-family: Brush Script MT, Brush Script Stds;
}

.fotos1 {
	position: absolute;
	text-align: left;
	padding-left: 10px;
}

.fotos2 {
	position: relative;
	text-align: right;
	padding-right: 10px;
}

.precios1 {
	position: absolute;
	text-align: left;
	padding-left: 12%;
}

.precios2 {
	position: relative;
	text-align: right;
	padding-right: 12%;
	padding-bottom: 30px;
}

.nombres1 {
	position: absolute;
	text-align: left;
	padding-left: 10px;
	
}

.nombres2 {
	position: relative;
	text-align: right;
	padding-right: 10px;
}