.contacto {
	position: relative;
	padding: 100px 0 50px 0;
	z-index: 4;
	color: white;
}

#fondo1 {
	position: absolute;
	background-image: url("Imágenes/balborraz.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#fondo2 {
	position: absolute;
	background-image: url("Imágenes/logo.png");
	background-position: right;
	background-repeat: no-repeat;
	top: -34%;
	right: 5%;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.formulario {
	position: relative;
	border-top: 5px ridge green;
	border-bottom: 5px ridge green;
	background-color: rgba(0, 0, 0, 1);
	color: white;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 60%;
	z-index: 1
}

.enviar {
	padding-top: 50px;
}

.mail {
	position: absolute;
	padding-left: 10%;
}


.nom {
	position: absolute;
	padding-top: 20px;
	padding-left: 10%;
}

.nom_input {
	padding-top: 20px;
}

.asun {
	position: absolute;
	padding-top: 50px;
	padding-left: 10%;
}

.asun_input {
	padding-top: 50px;
}

textarea {
	width: 50%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	resize: vertical;
}

input[type=button] {
  background-color: #36AA28;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover {
	background-color: #36CB28;
}

input[type=button]:active {
	padding: 14px 30px;
}

#bt-img2 {
	position: absolute;
	background-image: url("Imágenes/contacta.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 520px;
	z-index: 0;
}